
.App {
  margin: 0;
  text-align: center;
  /* display: inline-block; */
}
.headerBox{
  height: 8vh;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.132);
  margin-bottom: 10px;
}
.header{
  color: rgb(58, 220, 190);
}
.body{
  display: flex;
  margin: 20px;
}
.books{
  width: 150px;
}
.listOfBooks{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.titleAuthor{
  width: 80px;
  font-size: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  
}
